<!DOCTYPE html>
<html>
  <head>
    <title>Quadio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <%= render partial: 'shared/notice'%>
      
      <% if user_signed_in? %>
        <%= render partial: 'shared/navbar'%>
      <% end %>

      <div id="page-content-wrapper" class="<%= 'no-sidebar' if devise_controller? %>">
        <div class="main-content">
          <%= yield %>
        </div>

        <% if current_user %>
        <%= render partial: 'shared/footer'%>
      <% end %>
      </div>
    </div>
  </body>
</html>
